<form method="post" action="{{ path('app_profile_delete') }}"
 onsubmit="return confirm('Seguro que quieres borrar tu cuenta de usuari@? Esta acción será IRREVERSIBLE!!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
