{% extends 'base.html.twig' %}

{% block title %}Editar Perfil de Usuari@{% endblock %}

{% block body %}
    <h2>Editar Perfil de Usuari@</h2>

    {{ include('profile/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ include('profile/_delete_form.html.twig') }}

	<a href="{{ path('app_profile_show') }}" class="btn btn-secondary">Volver al Perfil</a>

{% endblock %}
