{% extends 'base_email.html.twig' %}

{% block subject %}
	Verifica tu Correo Electrónico
{% endblock %}

{% block body %}
<h3>Verifica tu Correo Electrónico</h3>

<p>
    Por favor, verifica tu dirección de correo electrónico haciendo click en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Verificar Correo Electrónico</a>.
    Este enlace expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Saludos!</p>
{% endblock %}