{% extends 'base.html.twig' %}

{% block title %}Mi Mejor Idea - Verifica tu Correo Electrónico{% endblock %}

{% block body %}
    <h2>Verifica tu Correo Electrónico</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Introduce tu dirección de correo electrónico y te enviaremos un enlace para verificarla.
            </small>
        </div>

        <button class="btn btn-primary">Enviar enlace</button>
    {{ form_end(requestForm) }}
{% endblock %}
