{% extends 'base_email.html.twig' %}

{% block subject %}
	Resetea tu Contraseña
{% endblock %}

{% block body %}
<h3>Resetea tu Contraseña</h3>

<p>Para verificar tu contraseña visita el siguiente enlace</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Este enlace expirará en {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Saludos!</p>
{% endblock %}