{% extends 'base.html.twig' %}

{% block title %}Mi Mejor Idea - Resetea tu Contraseña{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h2>Resetea tu Contraseña</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Introduce tu dirección de correo electrónico y te enviaremos un enlace para resetear tu contraseña.
            </small>
        </div>

        <button class="btn btn-primary">Enviar enlace para resetear contraseña</button>
    {{ form_end(requestForm) }}
{% endblock %}
