{% extends 'base.html.twig' %}

{% block title %}Mi Mejor Idea - Acerca de{% endblock %}

{% block body %}

    <h2>Acerca de...</h2>

    <p>Mi Mejor Idea es un proyecto de desarrollo didáctico, colaborativo y sin ánimo de lucro.</p>

    <p>Esta será la página que explique la idea de este sitio web, su contexto, misión y visión, etc.</p>
    
{% endblock %}
