{% extends 'base.html.twig' %}

{% block title %}Mi Mejor Idea - Quién? Cómo?{% endblock %}

{% block body %}

    <h2>Quién? Cómo?</h2>

    <p>Mi Mejor Idea está desarrollado colaborativamente utilizando las siguiente tecnologías y recursos:</p>
    <ul>
        <li>Tecnologías básicas de desarrollo web: HTML, CSS, JavaScript, etc.</li>
        <li>Framework PHP Symfony.</li>
        <li>Gestor de paquete PHP Composer.</li>
        <li>Twig</li>
        <li>Doctrine</li>
        <li>Leaflet</li>
        <li>DataTables</li>
        <li>FullCalendar</li>
    </ul>

    <p>En Producción utilizamos la siguiente infraestructura</p>
    <ul>
        <li>VPS Debian contratado con Contabo alojado</li>
        <li>Dominio .com registrado con CloudFlare</li>
        <li>Correo electrónico Gmail</li>
        <li>Base de datos MariaDB<li>
    </ul>

    <p>En Desarrollo utilizamos las siguientes herramientas</p>
    <ul>
        <li>IDE Visual Studio Code</li>
        <li>Control de versiones con Git y repositorio en GitHub</li>
    </ul>

{% endblock %}
