{% extends 'base.html.twig' %}

{% block title %}Mi Mejor Idea{% endblock %}

{% block body %}

    <h2>Hola! Ola! Hello! </h2>

    <p>Bienvenid@ a Mi Mejor Idea</p>

    <p>
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{ path('app_login') }}" class="btn btn-primary">Inicia Sesión</a>
        <a href="{{ path('app_register') }}" class="btn btn-primary">Registro de Nuevo Usuari@</a>
    {% else %}
		<a href="{{ path('app_dashboard') }}" class="btn btn-primary">Accede a tu Panel de Control</a>
    {% endif %}                     
    </p>

    <p><img src="{{ asset('assets/img/logoMiMejorIdeaBlanco.png') }}" heigth="100" width="100"></p>

    <p>Estas son las últimas novedades:</p>
    <ul>
    <li>2025-12-01 - Creación y despliegue del sitio web</li>
    </ul>

{% endblock %}
