{% extends 'base.html.twig' %}

{% block title %}Mi Mejor Idea{% endblock %}

{% block body %}

    <h2>Hola! Ola! Hello! </h2>

    <p>Bienvenid@ a Mi Mejor Idea: un proyecto de desarrollo didáctico, colaborativo y sin ánimo de lucro.</p>

    <p>
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{ path('app_login') }}" class="btn btn-primary">Inicia Sesión</a>
        <a href="{{ path('app_register') }}" class="btn btn-primary">Registro de Nuevo Usuari@</a>
    {% else %}
		<a href="{{ path('app_dashboard') }}" class="btn btn-primary">Accede a tu Panel de Control</a>
    {% endif %}                     
    </p>

    <p><img src="{{ asset('assets/img/logoMiMejorIdeaBlanco.png') }}" heigth="100" width="100"></p>

    <p>Estas son las últimas novedades:</p>
    <h3>2026-Enero</h3>
    <ul>
    <li>Creación y despliegue del sitio web</li>
    <li>Registro y sesión de usuario con correo electrónico</li>
    <li>Perfil de Usuari@: Creación de nombre de usuario para disponer de una identidad pública para interaccionar con otr@s</li>
    <li>Perfil Personal: Datos personales opcionales</li>
    <li>Gestionar Localizaciones: casa, trabajo y otras, a partir del mapa o de texto</li>
    <li>Crear viajes compartidos. Viajes próximos con Datatables</li>
    <li>Solicitar viajes y aceptar solicitudes, con notificaciones por correo electrónico</li>
    </ul>

{% endblock %}
