{% extends 'base.html.twig' %}

{% block title %}Crear Perfil Personal{% endblock %}

{% block body %}
    <h2>Crear Perfil Personal</h2>

    {{ include('perfil_personal/_form.html.twig') }}

    <div><a href="{{ path('app_dashboard') }}" class="btn btn-secondary">Volver al Panel de Control</a></div>

    {{ include('snnipets/_alert_cambios_sin_guardar.html.twig') }}

{% endblock %}
