{% extends 'base.html.twig' %}

{% block title %}ViajeSolicitud{% endblock %}

{% block body %}
    <h2>ViajeSolicitud</h2>
    {# TODO: Revisar contenido
        - Añadir botones para aceptar o rechazar el estado de la solicitud si aún está pendiente
    #}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ viaje_solicitud.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ viaje_solicitud.createdAt ? viaje_solicitud.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:history.back()">back to list</a>

    {#<a href="{{ path('app_viaje_solicitud_edit', {'id': viaje_solicitud.id}) }}">edit</a>

    {{ include('viaje_solicitud/_delete_form.html.twig') }}#}
{% endblock %}
